nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-size: 20px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a{
    color: #fff;
    text-decoration: none;
}

nav a:hover{
    color: #ccc;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card{
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.card img{
    max-width: 100%;
    height: auto;
}

.card img :hover{
    transform: scale(1.1);
}

.card h2{
    margin: 10px 0;
}

.card p{
    margin: 5px 0;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}